/* shared */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
}

body{
    
    margin: 0;
    max-width: 1920px;
}
.text-primary{
    color: #534C64;
    
    font-size: 1rem;
    
    font-weight: 500;
}
/* header styles */

/* nav */
nav{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    max-height: 130px;
    padding: 0 12%;
    
    
}
.nav-left{
    display: flex;
    gap: 1rem;
    align-items:center;
}
.nav-left img{
    width: 3.5rem;

}
.nav-title{
    
    font-size: 1.8rem;
  
    font-weight: 700;
}
#g-nav-title{
    color:#FF42A5;
}
.nav-right{
    gap: 2rem;
    display: flex;
    align-items: center;
    color: #3C354F;
    
   
    font-size: 1rem;
  
    font-weight: 500;
}
.nav-right li{
   
    list-style: none;
}
.nav-right a{
    text-decoration: none;
}
.nav-social-links{
    display: flex;
    align-items:center;
    padding: 0 24px;
    gap: 18px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
.nav-social-links img{
    
    max-height: 20px;
}

/* banner styles */

.banner-1{
    display:flex ;
    justify-content: center;
   height: 600px;
   width: 50% 50%;
}
.goat{
    background-image:url("../Assets/images/Group\ 14.png");
    background-repeat: no-repeat;
    padding-left:33%;
    padding-top: 100px;
    width: 100%;
    position: relative;
    right: 270px;
  
    
   
}   
.goat > p {
    display: flex;
    gap: 5px;
    align-items: center;
}
#banner-1-img{
    width: 40%;
    
    position: relative;
    top: -600px;
    left: 620px;

}


.goat > h3{
    color: #0B0223;
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    

}
.goat > h2{
   color: #F948B2;
    font-size: 4rem;
   margin: 0;
    font-weight: 800;
}
.banner-btns{
    margin-top: 3rem;
}
.btn-primary{
    padding: 1rem 2rem;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 1.8rem;
    background-color: #FF42A5;
    border: 0;
    
}
.btn-secondary{
    background-color: #4EC5F7;
    margin-left: 15px;
}
/* card-section */
.card-section{
    margin-top: -400px;
    text-align: center;
}
.game-cards{
    display: flex;
    gap: 30px;
    justify-content:center;
}
.card-img{
    
    width: 250px;
    height: 300px;
    margin: 0;
}

.card-img:hover{
    border:5px solid #2a2144 ;
    border-radius: 10px;
    opacity: 80%;
}

.card-section-title{
    color: #0B0223;
    font-size:2rem ;
    font-weight: 700;
}
#funny-videos{
    color: #FF42A5;
}


/* responsive */
/* for mobile */
@media screen and (max-width:576px) {
    /* nav */
    nav {
        flex-direction: column;
        max-height: none;
        max-width:576px;
    

    }    
    .nav-right{
        flex-direction: column;}
    .nav-left{
        
       justify-content: center;
    }
    /* banner */
    .goat{
        position:static;

        max-width: 370px;
        padding-top: 40px ;
        padding-bottom: 30px;
        padding-left:20px ;
        padding-right: 0;
        text-align: center;
        

    }
    .banner-1{
        flex-direction: column-reverse;
        align-items: center
    }
    #banner-1-img{
        position: static ;
        width: 400px;
        margin-left: 10px;

    }
    /* card */

    .card-section{
       margin-top: 100px;
    }
    .game-cards{
        flex-direction: column;
    }
}
/* for tablets */

@media screen and (min-width:576px) and (max-width:992px) {
    nav{
        gap: 20px;
    }
    .goat{
        position:static;

        max-width: 950px;
        padding-top: 40px ;
        padding-bottom: 30px;
        padding-left:20px ;
        padding-right: 0;
        
        

    }
    .banner-1{
        flex-direction: column-reverse;
        align-items: center
    }
    #banner-1-img{
        position: static ;
        width: 400px;
        margin-left: 200px;

    }
    .card-section{
        margin-top: 100px;
     }
     .game-cards{
        flex-wrap: wrap;
     }
}